* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
    display: flex;            
    flex-direction: column;    
    align-items: center;       
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    min-width: 320px;
    width: 100%;
}

section {
    background-color: rgb(131, 248, 96);
    padding-bottom: 5%;
}

h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 5%;
}

div {
    text-align: justify;
    font-size: 2.5rem;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 9rem;
}

.p1 {
    margin: 10%;
    text-align: justify;
}

.p2 {
    margin: 5%;
}

.video1 {
    background-color: rgb(41, 7, 235);
}

.p3 {
    text-align: left;
    margin: 5%;
    font-size: 4rem;
    text-align: center;
    background-color: rgb(111, 194, 72);
}

button {
    background-color: rgb(9, 255, 9);
    cursor: pointer;
    border: 0;
    color: rgb(238, 235, 235);
    font-size: 1.8rem;
    width: 40%;
    padding: 2%;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(219, 219, 219);
    color: black;
}

.section2 {
    background-color: rgb(179, 179, 187);
    width: 100%;
    display:
